<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Application Settings -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<appSettings>
		<!-- Authetication to use, Can be Internal, External, or Token -->
		<add key="Authentication.Type" value="Token"/>
		<add key="Authentication.ApplicationName" value="CustomerManagementService"/>
		<add key="Authentication.ShouldCheckChildren" value="true"/>
	</appSettings>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Connection Strings -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<connectionStrings>
    <remove name="LocalSqlServer"/>
		<add name="Customers" connectionString="server=DEVSQL001.SCOTTRADE.DEV\CRICLUST03;database=Customers;Trusted_Connection=True;Network Library=dbmssocn" />
		<add name="FrontEndPlatforms" connectionString="server=DEVSQL001.SCOTTRADE.DEV\CLUST009;database=FrontEndPlatforms;Trusted_Connection=True;Network Library=dbmssocn"/>
    <add name="SecurityAuthority" connectionString="server=DEVSQL002.SCOTTRADE.DEV\CLUST037;database=BigEndian;Trusted_Connection=True;Network Library=dbmssocn"/>
	</connectionStrings>
	
  <system.web>
    <machineKey validationKey="F199DA38A6200DA4362B425E1EAC6D3507923F8496691456353B5B0DB7CC6E1E"
             decryptionKey="5F086488C72145A27341EDDBE3D72730706859273512550A46D9A34E809F3760"
             validation="SHA1"/>
  </system.web>
</configuration>