<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Instrumentation.Enabled" value="1"/>
    <add key="Instrumentation.AppId" value="1001"/>
    <add key="Instrumentation.FilePath" value="c:\temp"/>
    <!--
    <add key="Instrumentation.MMFileSize" value="2147483648"/>
    <add key="Instrumentation.MMViewSize" value="65536"/>
    -->
    <add key="Instrumentation.MMFileSize" value="65536"/>
    <add key="Instrumentation.MMViewSize" value="4096"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
